{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Shafiya's Story 10</title>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      media="screen"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script
      type="text/javascript"
      src="{% static 'js/subscribers.js' %}"
    ></script>
  </head>
  <body>
    <div class="col-sm-12"></div>
    <div class="form-block col-sm-12">
      <div id="buat-alert"></div>
      <div class="dalam-border">
        <h1 align="center" id="header-description">
          Isi form di bawah ini untuk subscribe!
        </h1>
        <hr />
        <form
          class="form-group"
          id="subsform"
          method="POST"
          action="{% url 'save_subscribers' %}"
        >
          <div>
            {% csrf_token %} {% for fields in form %}
            {{ fields.label_tag }}
            {{ fields }}
            {% endfor %}
          </div>
          <br />
          <div align="center">
            <button class="btn btn-default" id="subs-button" type="submit">
              Subscribe!
            </button>
          </div>
        </form>
        <br />
        <br />
        <button id="button-subs">List Subscriber</button>
        <h4 id="subslist" align="center">Our Subscribers</h4>
        <div id="list-subscriber">
          <br />
          <center>
            <table class="table" id="subs-table">
              <tr>
                <thead>
                  <th scope="col">No</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Status</th>
                </thead>
              </tr>
              <tbody></tbody>
            </table>
          </center>
        </div>
      </div>
      <div class="col-sm-12"></div>
    </div>
  </body>
</html>
