body {
  background-color: #e35f75;
  font-family: "Roboto", sans-serif;
}

.dalam-border {
  background-color: #f3bac3;
  border: #eff8f3 20px solid;
  color: #404e88;
  margin: 5%;
  padding: 3%;
}

.button {
  width: 72px;
  height: 30px;
  margin-right: 10%;
  margin-top: 5%;
  color: #eff8f3;
  background: #404e88;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #eff8f3 5px solid;
}

.flex-container {
  display: flex;
  margin: 2%;
}

.foto-pribadi {
  width: 300px;
  height: 300px;
  margin: 10%;
}

.github {
  width: 25px;
  height: 25px;
}

.email {
  width: 25px;
  height: 25px;
}

.linkedin {
  width: 25px;
  height: 25px;
}

.konten-pribadi {
  margin-top: 5%;
  margin-left: 10%;
}

table {
  width: 100%;
}
.year {
  text-align: right;
}

.quanta {
  width: 468px;
  height: 365px;
  left: 507px;
  top: 524px;
}

.zomato {
  width: 551px;
  height: 551px;
  left: 465px;
  top: 1179px;
}

.col-sm-3 {
  width: 72px;
  height: 30px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1%;
  color: #eff8f3;
  background: #404e88;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #eff8f3 5px solid;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit {
  color: #eff8f3;
  background: #404e88;
  border: #eff8f3 5px solid;
}

.container-fluid {
  color: #eff8f3;
  background: #404e88;
}

.accordion {
  width: 100%;
  background: #404e88;
}

.accordion-header {
  border-bottom: 1px solid #dde0e7;
  color: white;
  cursor: pointer;
  font-weight: 700;
  padding: 1.5rem;
}

.accordion-header:hover {
  background: #404e88;
}

.accordion-content {
  display: none;
  border-bottom: 1px solid #dde0e7;
  background: #f6f7f9;
  padding: 1.5rem;
  color: #404e88;
}

.accordion-header::before {
  content: "";
  vertical-align: middle;
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: #b1b5be;
  margin-right: 0.75rem;
}

.active.accordion-header::before {
  background-color: #fc6468;
}

.center {
  margin-top: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-image: url("/static/img/loader.0d0345f662a7.gif");
  background-repeat: no-repeat;
  background-color: #e35f75;
  background-position: center;
}
