<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.js"></script>
    <script src="{% static 'js/ajax_script.js' %}"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Shafiya's Story 9</title>
  </head>
  <body onload="getall()">
    <div class="dalam-border">
      {% if user.is_authenticated %}
      <h5>Selamat datang, {{user.first_name}}</h5>
      <a href="{% url 'logout' %}">Logout</a> 
      {% else %} You are not logged in,
        please <a href="{% url 'social:begin' 'google-oauth2' %}"> Login </a> 
      {% endif %}
      <div class="row">
        <div class="col s6 m6 l6">
          <h1>Shafiya's Thinkpad Wishlist</h1>
          <hr />
        </div>
      </div>
      <div id="demo">
        <table id="tabel" class="centered"></table>
        <div class="row">
          <div class="col">
            <h5>Jumlah uang agar bisa memenuhi wishlist</h5>
            <div class="display"><span>Rp. </span><span id="buy">0</span></div>
            <ul class="pagination">
                <li><a value=1>1</a></li>
                <li><a value=2>2</a></li>
                <li><a value=3>3</a></li>
                <li><a value=4>4</a></li>
                <li><a value=5>5</a></li>
                <li><a value=6>6</a></li>
                <li><a value=7>7</a></li>
                <li><a value=8>8</a></li>
                <li><a value=9>9</a></li>
                <li><a value=10>10</a></li>
              </ul> 
          </div>
        </div>
      </div>
      </div>
    </div>
  </body>
</html>
