<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <title>Shafiya's Profile</title>
  </head>
  <body>
    <div class="loader"></div>
    <div class="dalam-border">
      <img src="{% static 'img/foto-shafiya.png' %}" />
      <h1 id="nama">Shafiya Ayu Adzhani</h1>
      <h1>1806235845</h1>
      <div class="accordion">
        <div class="accordion-header">Aktivitas</div>
        <div class="accordion-content">
          <ul>
            <li>Mahasiswa Universitas Indonesia</li>
          </ul>
        </div>

        <div class="accordion-header">Organisasi/Kepanitiaan</div>
        <div class="accordion-content" id="masadepanq">
          <ul>
            <li>Staf IT Development COMPFEST 11</li>
            <li>Staf IT Development SISTEM 2019</li>
            <li>Staf Akademis BETIS 2019</li>
          </ul>
        </div>

        <div class="accordion-header">Prestasi</div>
        <div class="accordion-content">
          <ol>
            <li>Medali Perak Olimpiade Sains Nasional 2017 Bidang Ekonomi</li>
            <li>
              Medali Perunggu Olimpiade Sains Nasional 2016 Bidang Ekonomi
            </li>
          </ol>
        </div>
      </div>
      <div class="center">
        <button id="switch">Switch Theme</button>
        <button id="masadepan">Masa depanq</button>
      </div>
    </div>
  </body>
</html>
